@model Tele.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditUser</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #17a2b8;
            height: 100vh;
        }

        #login .container #login-row #login-column #login-box {
            margin-top: 60px;
            max-width: 600px;
            height: 600px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
        }

            #login .container #login-row #login-column #login-box #login-form {
                padding: 20px;
            }

                #login .container #login-row #login-column #login-box #login-form #register-link {
                    margin-top: -85px;
                }
    </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Registration form</h3>
        @using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="" method="post">
                                <h3 class="text-center text-info">Edit User</h3>
                                <div class="form-group">
                                    <label for="username" class="text-info">Full Name:</label><br>
                                    @Html.TextBoxFor(x => x.UserNameForUpdate, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="username" class="text-info">Email:</label><br>
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="username" class="text-info">Phone No:</label><br>
                                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="username" class="text-info">Address:</label><br>
                                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="username" class="text-info">Status:</label><br>
                                    <span>
                                        Active: @Html.RadioButtonFor(x => x.Status, "Active", new { @checked = "checked" })
                                        InActive: @Html.RadioButtonFor(x => x.Status, "InActive")
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="text-info">Role:</label><br>
                                        @Html.TextBoxFor(x => x.Role, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="Update">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
